#PostgreSQL

DB_CONNECTION="postgresql://admin:12345@172.16.12.56:5432/remote-monitoring"
POSTGRES_NAME=admin
POSTGRES_PW=12345
POSTGRES_DB=remote-monitoring
POSTGRES_PORT=5432

#PGAdmin4
PG_MAIL=admin@admin.com
PG_PW=12345
PG_PORT=5050

#Kafka
KAFKA_HOST=172.16.12.56
KAFKA_PORT=9092
KAFKA_TOPICS=monitoring:1:1, DEVICE_INFO:1:1, config:1:1
KAFKA_BOOTSTRAP_SERVERS="172.16.12.56:9092"

#Zookeeper
ZOO_PORT=2181

#Flask
FLASK_PORT=5000

#files
UPLOAD_FOLDER="/home/adam/monitoring/UploadedFiles/data"
