[Unit]
After=network.target
[Service]
Type=simple
Restart=on-failure
ExecStart=/home/pi/agentv1
WorkingDirectory=/home/pi/
[Install]
WantedBy=multi-user.target
